body {
  margin: 0 auto;
  font-family: "Montserrat";
}
html {
  scroll-behavior: smooth;
}

/* SIDEBAR */

.nav-items {
  position: fixed;
  top: 20%;
  left: 85%;
}

nav.side-navbar:before {
  content: "";
  background: #da2d5a;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
}

nav.side-navbar a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 600;
  background-image: linear-gradient(
    to right,
    #000000,
    #000000 50%,
    #da2d5a 50%
  );

  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

nav.side-navbar ul li {
  text-align: right;
  list-style: none;
  padding: 18px;
  /* background-color: aliceblue; */
  margin: 5px;
  font-size: large;
}

nav.side-navbar a:hover {
  background-position: 0;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 30px;
  height: 5px;
  margin: 5px auto;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #da2d5a;
}

/* CONTAINERS */
.container.first,
.container.second,
.container.third,
.container.fourth,
.container.fifth {
  /* display: block; */
  height: 100vh;
  /* background-color: #ffafc4; */
}
.container.second,
.container.third,
.container.fourth,
.container.fifth {
  /* background-color: antiquewhite; */
  margin: 0 auto;
  padding-right: 20%;
  padding-left: 10%;
  padding-top: 2%;
}
.container.third,
.container.fourth,
.container.fifth h2 {
  color: #da2d5a;
}

.container.second {
  background-color: #ffdce6;
}

/* HOME */

.home-main-cont {
  display: flex;
  height: 100vh;
}
.home-cont-intro {
  flex: 1;

  /* position: relative; */
  display: flex;
  flex-direction: column;
}
.nickname {
  color: #da2d5a;
}
.home-cont-img {
  background-color: #e8e8e8;
  flex: 1;
  /* padding-top: 100px; */
}

/* HI IM BIANCA */
.infotext {
  /* background-color: beige; */
  margin: 20%;
  margin-bottom: 0%;
  font-family: "Inter", sans-serif;
  font-size: large;
}
.intro-cont {
  display: flex;
  /* color: #da2d5a; */
  align-items: center;
  /* justify-content: space-around; */
  text-align: start;
  /* text-shadow: -0.2rem -0.2rem #84f2fc, 0.1rem 0.1rem #da2d5a; */
}
.intro-cont i {
  font-size: 20px;
  color: #fc8caa;

  margin: 20px;
}
#greeting {
  font-size: 18px;
  font-weight: 600;
  color: #adadad;
}
.intro-cont h2 {
  font-weight: 400;
}
.infotext .name {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
.infotext h4 {
  font-weight: 300;
  margin-top: -10px;
  font-style: italic;
  /* color: #adadad; */
}

.cont-socials {
  width: auto;
  margin: 20%;
  /* background-color: beige; */
  margin-top: 40px;
}
.cont-socials a {
  color: #da2d5a;
  margin-right: 30px;
}
.cont-socials a i {
  color: #da2d5a;
  font-size: 30px;
}

/* PICTURE PINK */
.home-cont-img img {
  width: 20%;
  position: absolute;
  left: 45%;
  top: 10%;
  z-index: 0;
}

/* SECOND CONTAINER = ABOUT*/
.about-buttons {
  display: flex;
  text-align: center;
  column-gap: 1em;

  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.about-buttons button {
  /* width: 10%; */
  /* background-color: #ffafc4; */
  background-color: #ffdce6;
  box-shadow: 8px 8px 12px #f2d1db, -8px -8px 12px #ffe7f2;
  color: #da2d5a;
  font-weight: bold;
  font-family: inter;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

  align-items: center;

  /* margin-left: 150px; */
  /* margin-right: 150px; */
}
.about-buttons button:hover {
  /* background-color: #fc8caa; */
  box-shadow: 8px 8px 12px #f2d1db, -8px -8px 12px #ffe7f2,
    0px 0px 5px 3px #fcedf1 inset;
  transition: 0.7s;
}
.about-buttons button:focus {
  color: #f79ab2;
  background-color: #da2d5a;
  box-shadow: inset 5px 5px 12px #cf2b56, inset -5px -5px 12px #e52f5f;
}
.about-buttons button:focus:hover {
  box-shadow: 0px 0px 5px 3px #8f1536 inset;
}
/* #btn_about:active {
  background-color: #da2d5a;
} */

.container.second {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.content-main-cont {
  display: flex;
  width: 100%;
  margin-top: 100px;
}

.about-main-cont,
.skills-main-cont,
.educ-main-cont,
.exp-main-cont,
.hobbies-main-cont {
  /* display: block; */
  width: 100%;
}

/* ABOUT */

.about-wrap-cont {
  width: 100%;
  /* background-color: #adadad; */
  display: flex;
  /* flex-wrap: wrap; */
}
.about-cont-intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
.about-text-cont {
  width: 85%;
  /* background-color: #adadad; */
}

.skills-elements,
.hobbies-elements {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}
.skills-elements h3,
.hobbies-elements h3 {
  font-weight: 600;
}
.software {
  display: flex;
  justify-content: space-evenly;
  /* background-color: #adadad; */
}

.educ-sub-cont,
.exp-sub-cont {
  display: flex;
  justify-content: center;
  /* grid-template-columns: repeat(2, 1fr); */
  /* background-color: #adadad; */
}
.educ-col.two,
.exp-col.two {
  display: flex;
  align-items: center;
}

.educ-infos,
.exp-infos {
  /* display: grid; */
  flex-direction: column;
  /* background-color: #adadad; */
  /* width: 100%; */
  line-height: auto;
}

/* SECOND SECTION - CLICKING NAV */

/* THIRD CONTAINER*/
.projects-main-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}
.projects-sub-cont {
  /* background-color: #424242; */
  align-items: center;
  justify-content: center;
}
.projects-sub-cont-top {
  transition: transform 500ms ease-out;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 5px 5px 20px #d9d9d9, -5px -5px 20px #ffffff;
}
.projects-sub-cont-top:before {
  content: "";
  /* background: linear-gradient(to right, #ffff, rgb(228, 228, 228)); */
  background-color: #f0f0f0;
  opacity: 0.3;
  width: 30%;
  height: 100%;
  top: 0%;
  left: -125%;
  transform: skew(45deg);
  position: absolute;
  animation-direction: left;
  transition-duration: 500ms;
}
.projects-sub-cont-top:hover {
  transform: translateY(-5px);
}
.projects-sub-cont-top:hover::before {
  left: 150%;
}

.projects-sub-cont-top {
  --gap: 0px;
  --num-cols: 3;
  /* --row-height: 250px; */
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-auto-rows: var(--row-height);
  /* gap: var(--gap); */
}
.projects-sub-cont-top > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-title {
  margin-top: 10px;
  font-weight: 800;
  text-shadow: 0.1rem 0.1rem #84f2fc;
}
.project-tags {
  display: flex;
  column-gap: 0.5em;
  flex-wrap: wrap;
}
.project-tags p {
  border: 1px solid #da2d5a;
  border-radius: 100px;
  padding: 5px 10px;
  font-size: 12px;
  text-align: center;
}

/* FIFTH CONTAINER*/
.awards-main-cont {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

  grid-auto-columns: 2;
  grid-gap: 1em;
}
.awards-sub-cont {
  gap: 10px;
  background-image: linear-gradient(to right, #fff2f5, #cef2f5);
  border-radius: 20px;
  box-shadow: inset 0px 5px 20px #c9c9c9;
}
.awards-sub-cont-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.sub-cont.right {
  display: grid;
  /* background-color: #adadad; */
  grid-template-rows: 4fr 1fr;
}
.sub-cont {
  padding: 20px;
}
.sub-cont-text h4 {
  /* background-color: #cef2f5; */
  text-shadow: 0.1rem 0.1rem #84f2fc;
}
.sub-cont-text p {
  color: #424242;
}

.sub-cont-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-gap: 1em;

  /* background-color: #adadad; */

  /* align-self: end; */
  /* background-color: #adadad; */
}
.sub-cont-buttons button {
  background-color: #da2d5a;
  border: none;
  color: #ffff;
  border-radius: 100px;
  font-family: "Inter";
  cursor: pointer;
}
#credential {
  grid-column: 3;
}
#credly {
  grid-column: 4;
}

/* SIXTH CONTAINER*/
.contact-main-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  /* background-color: #7e7e7e; */
  margin-top: 100px;
  /* flex-wrap: wrap; */
}
.contact-cont1 {
  /* background-color: #cacaca; */
  flex: 1;
}
.contact-cont1 h1 {
  font-family: "Inter";
  font-size: 60px;
  margin: 0;
}
.contact-cont1 p {
  font-size: 20px;
  margin: 0;
}

.contact-cont2 {
  background-color: #ffff;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 80px;

  margin-bottom: 50px;
  padding: 20px;
  box-shadow: 5px 5px 20px #d9d9d9, -5px -5px 20px #ffffff;
  border-radius: 20px;
}
.contact-cont2 p {
  flex: 1;
  font-size: 30px;
  color: #da2d5a;
  font-weight: 600;
}
.input-cont {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.input-cont input {
  box-shadow: inset 2px 2px 10px #e3e3e3, inset -2px -2px 10px #ffffff;
}
.input-cont input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 4px 0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 10px;
  /* border: 1px solid #adadad; */
  border: none;
}
.input-cont input[type="text"][id="message_id"] {
  width: 100%;
  padding-bottom: 150px;
  margin: 4px 0;
  /* box-sizing: border-box; */
  border-radius: 10px;
  /* border: 1px solid #adadad; */
  border: none;
}
#submit {
  /* background-color: #da2d5a;
   */
  background-color: white;
  color: #da2d5a;
  border: none;
  padding: 12px 20px;
  margin: 10px 0;
  width: 50%;
  border-radius: 10px;
  /* box-shadow: inset 5px 5px 10px #c22850, inset -5px -5px 10px #f23264;
   */
  /* box-shadow: 2px 2px 10px #d9d9d9, -2px -2px 10px #ffffff; */
  box-shadow: 5px 5px 12px #f2f2f2, -5px -5px 12px #f7f7f7;
  font-weight: 600;
  font-family: Montserrat;
}

/* FOOTER */
footer {
  background-color: #ffdce6;
  display: block;
  flex-direction: column;
  text-align: center;
  padding: 40px;
}
.footer-socials {
  text-align: center;
}
.footer-socials a {
  color: #da2d5a;
  /* margin-right: 30px; */
}
.footer-socials a i {
  color: #da2d5a;
  font-size: 40px;
  align-items: center;
  padding: 20px;
}
footer p {
  font-size: 12px;
}

/* ======================================================================== */
nav.about-navbar {
  display: flex;
  align-items: center;
}

nav.about-navbar a {
  text-decoration: none;
  color: #ffff;
  font-family: "Montserrat";
  justify-content: center;
}
nav.about-navbar ul {
  /* background-color: #643232; */
  width: 100%;
  text-align: center;
}
nav.about-navbar ul li {
  display: inline-block;
  list-style: none;
  padding: 10px 20px;
  background-color: #ffafc4;
  margin: 20px;
}
.side-navbar .navbar-toggler {
  visibility: hidden;
}

@media (max-width: 1366px) {
  nav.side-navbar {
    position: fixed;
    top: 20%;
    left: 80%;
  }

  .container.first,
  .container.second,
  .container.container.third,
  .container.fourth,
  .container.fifth,
  .container.sixth {
    margin: 0 auto;
  }
  .home-cont-img {
    z-index: -1;
  }
  .home-cont-img img {
    width: 22%;
    position: absolute;
    left: 47%;
    top: 10%;
  }
  .about-image-cont {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-image-cont img {
    width: 90%;
  }

  img#skill-graphic,
  img#hobby-graphic {
    width: 230px;
  }
  .skill h3,
  .hobby h3 {
    font-size: 14px;
  }

  .software img {
    width: 40px;
  }

  .educ-infos h3 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .educ-info p {
    /* line-height: 5px; */
    font-size: 14px;
  }
  .educ-col.two img,
  .exp-col.two img {
    width: 100%;
  }

  .educ-main-cont {
    /* display: block; */
    width: 100%;
    margin-top: 0px;
  }

  /* PROJECTS */

  .projects-sub-cont-top {
    --row-height: 200px;
    grid-auto-rows: var(--row-height);
  }

  /* AWARDS */
  .awards-main-cont {
    grid-gap: 0.5em;
  }

  .sub-cont.left img {
    /* width: 160px; */
  }

  .sub-cont.right {
    display: grid;
    /* background-color: #adadad; */
    grid-template-rows: 4fr 1fr;
  }
  .sub-cont {
    padding: 20px;
  }

  .sub-cont-text p {
    color: #424242;
  }

  .sub-cont-buttons {
    grid-gap: 0.5em;
  }

  .contact-cont1 img {
    /* width: 80%; */
  }
  .input-cont input[type="text"][id="message_id"] {
    width: 100%;
    padding-bottom: 150px;
    margin: 4px 0;
    /* box-sizing: border-box; */
    border-radius: 10px;
    /* border: 1px solid #adadad; */
    border: none;
  }

  .input-cont {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .input-cont input {
    box-shadow: inset 2px 2px 10px #e3e3e3, inset -2px -2px 10px #ffffff;
  }
  .input-cont input[type="text"] {
    width: 100%;
    padding: 8px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    /* border: 1px solid #adadad; */
    border: none;
  }
  .input-cont input[type="text"][id="message_id"] {
    width: 100%;
    padding-bottom: 80px;
    margin: 4px 0;
    border-radius: 10px;
    border: none;
  }
  #submit {
    /* background-color: #da2d5a;
     */
    background-color: white;
    color: #da2d5a;
    border: none;
    padding: 12px 20px;
    margin: 10px 0;
    width: 50%;
    border-radius: 10px;
    /* box-shadow: inset 5px 5px 10px #c22850, inset -5px -5px 10px #f23264;
     */
    /* box-shadow: 2px 2px 10px #d9d9d9, -2px -2px 10px #ffffff; */
    box-shadow: 5px 5px 12px #f2f2f2, -5px -5px 12px #f7f7f7;
    font-weight: 600;
    font-family: Montserrat;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    left: 95%;
    top: 2%;
    position: fixed;
    /* width: 100%; */
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }
  .nav-items {
    position: fixed;
    left: 100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: #ffdce6;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    height: 100%;
    margin: 0;
    padding-top: 5%;
  }
  .nav-items.active {
    left: 0%;
  }

  nav.side-navbar ul li {
    text-align: center;
    list-style: none;
    padding: 30px;
  }

  .home-main-cont {
    display: flex;
  }
  .home-cont-img {
    width: 100%;
    position: block;
    left: 0;
    top: 0;
  }
  .home-cont-img img {
    width: 30%;
    left: 47%;
    top: 10%;
  }

  .container.second,
  .container.third,
  .container.fourth,
  .container.fifth {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
  }

  /* ABOUT */

  /* Hobbies */

  img#skill-graphic img#hobby-graphic {
    width: 200px;
  }
  .skill h3,
  .hobby h3 {
    font-size: 14px;
    text-align: center;
    /* justify-content: center; */
  }

  /* PROJECTS */
  .container.second,
  .container.third,
  .container.fourth,
  .container.fifth {
    height: auto;
  }
  .container.second {
    padding-bottom: 10%;
  }

  .projects-main-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
  }

  /* AWARDS */
  .awards-main-cont {
    display: grid;
    grid-template-columns: none;
    grid-auto-flow: row;
    grid-gap: 1em;
  }
  .awards-main-cont {
    grid-gap: 0.5em;
  }

  .sub-cont.left img {
  }

  .awards-sub-cont-info .sub-cont.right {
    display: grid;
    /* background-color: #adadad; */
    grid-template-rows: 4fr 1fr;
  }
  .awards-sub-cont-info .sub-cont {
    padding: 20px;
  }

  .sub-cont-text p {
    color: #424242;
  }

  .sub-cont-buttons {
    grid-gap: 0.5em;
  }

  /* CONTACT */
  .contact-main-cont {
    column-gap: 0.5em;
  }
  .contact-cont1 {
    display: flex;
    flex-direction: column;
  }
  .contact-cont1 p {
    font-size: small;
  }
  .contact-cont1 img {
    width: 300px;
  }
  .contact-cont2 p {
    font-size: 20px;
  }
}

@media screen {
  width: ;
}
/* header{
  top: 0;
  position: fixed;
  width: 100%;
  display: block;
  
} */
/* .container.first{
  margin-top: 60px
} */

/* nav.side-navbar {
   
    position: fixed;
    top: 20%;
    left: 85%;
  }
  nav.side-navbar a {
    text-decoration: none;
    color: #da2d5a;
    font-family: "Montserrat";
  }
  nav.side-navbar ul li {
    text-align: right;
    list-style: none;
    padding: 10px;
   
    margin: 5px;
  } */

/* .side-navbar {
    top: -10%;
    padding: 0;
    width: 100%;
    display: flex;
  }
  .side-navbar ul {
    width: 100%;
    height: auto;
  }
  .side-navbar ul.open {
    max-height: 100vh;
  }
  .side-navbar ul li {
    width: 100%;
    text-align: left;
  } */
/* .side-navbar ul li a {
    padding: 0;
  } */

/* .side-navbar .navbar-toggler {
    visibility: visible;
    display: block;
    position: fixed;
    height: 40px;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: #da2d5a;
    border: #da2d5a;
    outline: none;
    padding: 0 5px;
    cursor: pointer;
  } */
/* .side-navbar .navbar-toggler span,
  .side-navbar .navbar-toggler span::before,
  .side-navbar .navbar-toggler span::after {
    display: block;
    content: "";
    width: 28px;
    height: 3px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
    background-color: #da2d5a;
  } */
/* .side-navbar .navbar-toggler span::before {
    transform: translateY(-8px);
  }
  .side-navbar .navbar-toggler span::after {
    transform: translateY(5px);
  }

  side-navbar .navbar-toggler.open-navbar-toggler span {
    background-color: transparent;
  }
  side-navbar .navbar-toggler.open-navbar-toggler span::before {
    transform: translateY(0px) rotate(45deg);
  }
  side-navbar .navbar-toggler.open-navbar-toggler span::after {
    transform: translateY(-3px) rotate(-45deg);
  } */
