body,
html {
  margin: 0 auto;
  font-style: Inter;
  scroll-behavior: smooth;
}
.parallax {
  background-color: #ffdce6;
}
.parallax-bg-holder {
  position: relative;
  opacity: 0.3;
  background-position: 0;
  background-size: 100% auto;
  background-repeat: repeat;
  background-attachment: fixed;
}
.parallax-bg-holder.one {
  min-height: 300px;
  width: auto;
  background-image: url("../assets/projects/one-curlycurls/img_curlycurls-one.png");
}
.parallax-bg-holder.two {
  min-height: 300px;
  width: auto;
  background-image: url("../assets/projects/two-yesdoc/img_yesdoc-one.png");
}
.parallax-title {
  position: absolute;
  left: 10%;
  top: 100px;
  font-family: montserrat;
  font-weight: 600;
  font-size: 100px;
  color: #ffff;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.49);
}
.sidebar-process {
  position: sticky;
  top: 100px;
  float: left;
}
.sidebar-process h2 {
  color: #686b6f;
  padding-bottom: 5px;
}
.sidebar-process p {
  color: #da2d5a;
  padding: 10px 0;
}
.sidebar-process a {
  text-decoration: none;
}
.container {
  margin: 3% 10%;
  font-family: inter;
}
.content-container {
  margin: 3% 25%;
  margin-right: 0;
  /* background-color: #f5b6c8; */
}
.main-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5em;
  line-height: 30px;
}
.sub-cont.one {
  display: flex;
  flex-direction: column;
}
.sub-list.title,
.second-container .title {
  font-family: montserrat;
  font-weight: 600;
  color: #da2d5a;
}
.sub-list.info {
  text-align: justify;
}
.sub-cont.two {
  text-align: right;
}
.sub-cont.two img {
  width: 80%;
  border-radius: 20px;
  box-shadow: 5px 5px 20px #d9d9d9, -5px -5px 20px #ffffff;
}
.sub-cont .sub-list.info #skill-graphic {
  width: 50px;
}

.sub-list.link button {
  /* background-color: #da2d5a; */
  font-family: inter;
  margin-top: 15px;
  padding: 10px;
  border: none;
  color: #ffff;
  border-radius: 5px;
  background-color: #da2d5a;
  box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffff;
  font-weight: 600;
  cursor: pointer;
}
.sub-list.link button:hover {
  box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffff,
    0px 0px 5px 3px #e4829e inset;
  transition: 0.7s;
}

.scroll-down {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #f5b6c8;
  margin-top: 5px;
  /* background-color: #ffdce6; */
}
.scroll-down img {
  margin-top: -30px;
}
.second-container {
  margin-top: 10%;
  row-gap: -0.5em;
}
.second-cont {
  display: flex;
  justify-content: space-evenly;

  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 1em;
  margin: 5% 0;
}
.second-cont img {
  height: 350px;
}
.second-cont p {
  line-height: 30px;
  text-align: justify;
}
img#cc-mockup-card {
  height: 200px;
}
img#yesdoc-ui {
  height: 600px;
  box-shadow: 5px 5px 20px #d9d9d9, -5px -5px 20px #ffffff;
}
.second-cont.posters {
  display: flex;
  grid-gap: 1em;
  padding: 0 15%;

  align-items: center;
}
.second-cont.wireframes .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1em;
  column-gap: 1em;
}

.second-cont.wireframes img {
  box-shadow: 0px 0px 10px #d9d9d9, 0px 0px 10px #ffffff;
  height: 300px;
  justify-content: center;
}
.second-cont.posters img {
  height: 300px;
  box-shadow: 5px 5px 20px #d9d9d9, -5px -5px 20px #ffffff;
}
.second-cont.stories img {
  height: 450px;
  box-shadow: 5px 5px 20px #d9d9d9, -5px -5px 20px #ffffff;
}
.second-cont.story-covers img {
  height: 300px;
  box-shadow: 5px 5px 20px #d9d9d9, -5px -5px 20px #ffffff;
  border-radius: 100%;
}

/* FOOTER */
footer {
  background-color: #ffdce6;
  display: block;
  flex-direction: column;
  text-align: center;
  padding: 40px;
}
.footer-socials {
  text-align: center;
}
.footer-socials a {
  color: #da2d5a;
}
.footer-socials a i {
  color: #da2d5a;
  font-size: 40px;
  align-items: center;
  padding: 20px;
}

.footer-navigation {
  display: flex;
  justify-content: center;
}

.footer-navigation a {
  text-decoration: none;
  font-family: "Montserrat";
  color: #da2d5a;
  font-size: 14px;
  padding: 20px;
  font-weight: 600;
}

.footer-navigation ul li {
  text-align: center;
  list-style: none;
  margin: 20px;
}
footer p {
  font-size: 12px;
  font-family: montserrat;
}

@media (max-width: 768px) {
  .sidebar-process {
    display: none;
  }
  .content-container {
    margin: 3% 10%;
  }
  .main-cont {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5em;
    line-height: 30px;
  }
  .sub-cont.one:nth-of-type(1) {
    order: 2;
    display: flex;
    flex-direction: column;
  }
  .sub-cont.sub-cont.two:nth-of-type(2) {
    order: 1;
    text-align: center;
  }

  .scroll-down {
    display: none;
  }
}

@media (max-width: 425px) {
  .parallax-title {
    font-size: 70px;
  }
  .footer-navigation a {
    color: #da2d5a;
    font-size: 14px;
    padding: 10px;
    font-weight: 600;
  }
}
